.title {
  margin: 0.5rem 0 -0.5rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 3rem;
    aspect-ratio: 1/1;
    position: absolute;
    left: 1%;
    display: none;
    background-color: transparent;

    img {
      rotate: 90deg;
    }
  }
}

.list {
  width: max(65%, 40rem);
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  background-color: var(--elements);

  a {
    padding: 1.05rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 110%;
    border-radius: 0.4rem;
    transition: 0.1s background-color ease-out;
  }

  hr {
    height: 2px;
    background-color: var(--background);
  }
}

.all {
  padding: 1rem;
  color: var(--accent-color);
  transition: 0.15s ease-out;

  &:hover {
    color: #ffffff;
    background-color: var(--accent-color);

    p {
      border-color: #ffffff;
    }
  }
}

.book {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a:hover {
    background-color: var(--elements-hover);
  }

  .toSearch {
    width: 100%;
  }

  .toFile {
    position: absolute;
    right: 0;
    height: 100%;
    justify-content: center;
    gap: 0.6rem;
    transition: 0.2s ease-out;

    p {
      opacity: 60%;
      font-size: 75%;
      white-space: nowrap;
    }

    &:hover p {
      opacity: 100%;
    }
  }
}

@media (max-width: 768px) {
  .title button {
    display: flex;
  }

  .list {
    width: 100%;
    font-size: 90%;

    a {
      margin: 0;
      padding: 1rem 1.25rem;
    }
  }
}

@media (max-width: 425px) {
  .title {
    margin: 2vw 0 -1.6vw;
    font-size: 3.65vw;

    button {
      width: 12vw;
      padding: 3vw;
    }
  }

  .book .toFile p {
    display: none;
  }
}

@media (max-width: 320px) {
  .list {
    margin-bottom: 8vw;
    font-size: 4.25vw;

    a {
      padding: 5vw 3vw 5vw 5vw;
    }
  }

  .book img {
    width: 8vw;
    aspect-ratio: 1/1;
  }
}
