.title {
  margin: 0.5rem 0 -0.5rem;
  text-align: center;

  @media (max-width: 768px) {
    display: none;
  }
}

.list {
  $radius: 0.6rem;

  width: max(65%, 50rem);
  display: flex;
  flex-direction: column;
  border-radius: $radius;
  background-color: var(--elements);

  @media (max-width: 1024px) {
    width: 95%;
  }

  a {
    padding: 1.05rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 110%;
    border-radius: $radius;
    transition: 0.1s background-color ease-out;
  }

  hr {
    height: 2px;
    background-color: var(--background);
  }
}

.all {
  padding: 1rem;
  color: var(--accent-color);
  transition: 0.15s ease-out;

  &:hover {
    color: #ffffff;
    background-color: var(--accent-color);

    p {
      border-color: #ffffff;
    }
  }
}

.book {
  position: relative;
  width: 100%;
  display: flex;

  a:hover {
    background-color: var(--elements-hover);
  }

  .toSearch {
    width: 100%;
  }

  .toFile {
    position: absolute;
    right: 0;
    height: 100%;
    justify-content: center;
    gap: 0.6rem;

    p {
      opacity: 60%;
      font-size: 75%;
      white-space: nowrap;
    }

    &:hover p {
      opacity: 100%;
    }
  }
}

@media (max-width: 768px) {
  .list {
    width: 100%;
    font-size: 90%;

    a {
      margin: 0;
      padding: 1rem 1.25rem;
    }
  }
}

@media (max-width: 425px) {
  .toFile {
    p {
      display: none;
    }

    img {
      scale: 1.2;
    }
  }
}

@media (max-width: 320px) {
  .list {
    margin-bottom: 8vw;
    font-size: 4.25vw;

    a {
      padding: 5vw 3vw 5vw 5vw;
    }
  }

  .book img {
    width: 8vw;
    aspect-ratio: 1/1;
  }
}
