.backButton {
  z-index: 1;
  position: absolute;
  top: 45px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 12px 18px;
    gap: 8px;
    border-radius: var(--radius);
    box-shadow: 0 3px 8px -3px #000000;

    @media (min-width: 769px) {
      &:hover {
        background-color: var(--elements-hover);
      }
    }
  }

  @media (max-width: 768px) {
    top: 40px;
    left: 8px;

    button {
      opacity: 0.85;
      padding: min(3.5vw, 12px);
      aspect-ratio: 1/1;
      border-radius: 100%;

      img {
        height: min(5vw, 20px);
      }

      p {
        display: none;
      }
    }
  }
}

.document {
  height: 100%;
  width: 100%;
  overflow: hidden;

  iframe {
    position: relative;
    min-height: calc(100svh - var(--header-height));
    width: 100%;
    border: none;

    @media (max-width: 768px) {
      min-height: unset;
      height: 100svh;
    }
  }
}
