@import '../mixins';

.title {
  $margin-bottom: 6px;

  position: relative;
  margin-bottom: $margin-bottom;
  padding: 1vw 2%;
  height: var(--mobileHeader-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--elements);
  box-shadow: 0 -12px 16px 2px #000000;
  overflow: hidden;

  @media (min-width: 769px) {
    display: none;
  }

  .logotype {
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 6px;

    h1 {
      font-size: 20px;
    }
  }

  @media (max-width: 425px) {
    margin-bottom: 1vw;

    .logotype {
      h1 {
        font-size: 4.6vw;
      }

      img {
        height: 8.5vw;
        width: auto;
      }
    }
  }

  &.center {
    position: relative;
    top: 0.5vw;
    margin-bottom: 0;
    padding: 0;
    height: calc(var(--mobileHeader-height) + $margin-bottom);
    justify-content: center;
    align-items: flex-end;
    box-shadow: none;
    background-color: transparent;

    a {
      position: relative;
      right: 0.8vw;
      display: flex;
      align-items: center;
      scale: 125%;
    }

    @media (max-width: 425px) {
      height: calc(var(--mobileHeader-height) + 1vw);
      font-size: 4vw;

      a {
        gap: 1.5vw;
      }

      img {
        height: 9vw;
        width: auto;
      }
    }
  }
}

.content {
  position: relative;
  margin: 2rem 1.25rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 17px;

  @media (max-width: 1024px) {
    width: min(850px, 95%);
  }

  @media (max-width: 768px) {
    margin: 0;
    padding: min(8vw, 2rem) 8% min(12vw, 3rem);
    gap: min(2.5vw, 12px);
    font-size: min(3vw, 14px);
    background-color: var(--elements);
    border-radius: var(--radius);
    @include element-glow();
  }

  h1 {
    font-weight: 500;
  }

  a {
    color: var(--accent-color);
    text-decoration: underline;
  }
}
