.navbar {
  $height: 3rem;
  $gap: 5px;

  z-index: 10;
  padding: 0 $gap;
  position: fixed;
  top: 0;
  height: $height;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--elements);
  user-select: none;

  div {
    display: flex;
    gap: $gap;
  }

  button {
    padding: 0;
    width: $height;
    height: $height;
    background-color: transparent;

    &:hover {
      background-color: var(--elements-hover);
    }

    img {
      $size: 25px;
      width: $size;
      height: $size;
    }

    p {
      font-size: 11px;
    }
  }

  .back {
    rotate: 90deg;
    position: relative;
    right: 2px;
  }
}

.container {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.options {
  width: 20%; // grid

  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  &.leftSide {
    font-size: 110%;
    gap: 1.2rem;

    button {
      width: 100%;
      justify-content: flex-start;
      opacity: 90%;
    }
  }

  button {
    opacity: 75%;
    padding: 12px 16px;
    gap: 12px;
    background-color: transparent;
    transition: 0.2s ease-out;
    white-space: nowrap;

    &:hover {
      opacity: 100%;
      transform: translateY(-1px);
    }
  }
}

.center {
  width: 60%; // grid

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text {
  padding: 2rem 2rem 3rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  background-color: var(--elements);
  border-radius: 0.4rem;
}

.title {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.3em;

  h1 {
    font-size: 150%;
  }

  h2 {
    font-size: 90%;
    color: var(--accent-color);
  }
}

.lyrics {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.verse {
  display: flex;
  flex-direction: column;
  gap: 0.05em;
  white-space: break-spaces;

  p {
    margin: 0;

    &.chord {
      margin: 0.15em 0 -0.3em;
      color: var(--accent-color);
      filter: contrast(80%);
    }
  }
}

.credits {
  margin: 0.5em 0 -1em;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 75%;

  p {
    font-size: 105%;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  font-size: 90%;

  button {
    padding: 12px 26px;
    gap: 8px;
  }

  .previous {
    rotate: 90deg;
  }

  .next {
    transform: rotate(-90deg);
  }
}

@media (max-width: 1024px) {
  .options {
    position: sticky;
    top: 6rem;
    width: auto;
    height: 100%;

    p {
      display: none;
    }

    button {
      padding: min(1vw);

      img {
        width: max(2vw, 35px);
        height: auto;
      }
    }
  }

  .center {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
  }

  .options {
    display: none;
  }

  .text {
    padding: 4rem 1rem calc(var(--navbarHeight) + 4rem);
    color: var(--text);
    background-color: transparent;
  }

  .credits {
    margin-bottom: 0.5em;
  }

  .controls {
    padding: 0 3%;
    width: 100%;
    position: fixed;
    bottom: calc(var(--navbarHeight) * 1.4);
    left: 0;

    button {
      padding: 0.9rem;
      width: 3rem;
      height: auto;
      aspect-ratio: 1/1;
      border-radius: 100%;
      opacity: 80%;

      &.randomButton,
      p {
        display: none;
      }

      img {
        position: relative;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
      }

      &:nth-child(1) img {
        right: 1px;
      }

      &:nth-child(3) img {
        left: 1px;
      }
    }
  }
}

@media (max-width: 320px) {
  .navbar {
    $gap: 2vw;

    height: 15vw;
    padding: 0 $gap;

    div {
      gap: $gap;
    }

    button {
      width: 15vw;
      height: 100%;

      img {
        width: 9vw;
        height: auto;
      }
    }
  }

  .controls {
    bottom: calc(var(--navbarHeight_mobile) * 1.4);
  }
}
