@import '../mixins';

.title {
  z-index: 1;
  position: fixed;
  top: 0;
  padding: 1vw 2%;
  height: var(--mobileHeader-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--elements);
  box-shadow: 0 -12px 16px 2px var(--text);
  overflow: hidden;
  transition: 150ms ease-out;

  @media (min-width: 769px) {
    display: none;
  }

  @media print {
    display: none;
  }

  &.hide {
    top: calc(var(--mobileHeader-height) * -1);
    box-shadow: unset;
  }

  button {
    padding: 0;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--radius);
    background-color: transparent;
    transition: 150ms transform ease-out;

    @media (max-width: 425px) {
      img {
        height: 6vw;
        width: auto;
      }
    }
  }

  div {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.container {
  padding: 2rem 3% 4rem;
  width: 100%;
  display: flex;

  @media (max-width: 768px) {
    padding: var(--mobileHeader-height) 2% 5%;
  }

  @media print {
    padding: 0;
  }
}

$button-gap: 12px;

.options {
  width: 20%; // grid layout

  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    max-width: 100%;
    overflow: hidden;
    opacity: 85%;
    padding: 12px 16px;
    justify-content: flex-start;
    gap: $button-gap;
    background-color: transparent;
    transition: 150ms transform ease-out;

    &:hover {
      opacity: 100%;
      transform: translateY(-1px);
    }

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &.leftSide {
    font-size: 105%;
    gap: 1.2rem;

    @media (min-width: 1025px) {
      position: relative;
      left: 0.5vw;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 2rem;
    width: unset;

    button {
      padding: 1vw;

      p {
        display: none;
      }

      img {
        height: auto;
        width: max(2vw, 35px);
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.presentationButton {
  z-index: 1;
  position: relative;
  width: 100%;
  border-radius: 0.4rem 0.4rem 0 0;

  @media (min-width: 1025px) {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      border-radius: 0.4rem;
      border: 2px solid var(--elements-hover);
      pointer-events: none;
    }
  }

  button:hover {
    transform: none;
  }

  .default {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      height: 100%;
      display: flex;
      gap: $button-gap;
    }

    .buttonText {
      padding: 14px 0 14px 16px;
      width: 100%;
      right: 2px;
    }

    .moreArrow {
      position: absolute;
      right: 0;
      padding: 0 16px;
      height: 100%;
      display: flex;
      align-items: center;
      border-radius: 0.4rem;

      img {
        position: relative;
        bottom: 1px;
        opacity: 45%;
        transition: 150ms ease-out;
      }
    }

    @media (min-width: 1025px) {
      &:hover {
        .moreArrow img {
          opacity: 65%;
        }

        div:hover {
          background-color: var(--elements);
        }
      }
    }

    @media (max-width: 1024px) {
      border: none;

      .buttonText {
        padding: 1vw;
      }

      .moreArrow {
        display: none;
      }
    }
  }

  .list {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    padding: 1% 0;
    width: 100%;
    background-color: var(--elements);
    border-radius: 0 0 0.4rem 0.4rem;
    font-size: 90%;
    transition: 150ms ease-out;

    button {
      opacity: 85%;
      width: 100%;

      p {
        margin-left: calc(18px + $button-gap);
      }
    }

    @media (min-width: 1025px) {
      &.active {
        opacity: 100%;
        top: 100%;
      }
    }
  }
}

.center {
  width: 60%; // grid layout

  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 1024px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    padding: 0;
  }

  @media print {
    width: 100%;
    padding: 0 1rem;
  }
}

.content {
  padding: 1rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--elements);
  border-radius: calc(var(--radius) / 2);
  overflow: hidden;

  .noChords {
    opacity: 85%;
    margin: -1rem -1rem 0.5em -1rem;
    padding: 1em 1.5em;
    background-color: var(--elements-hover);
    font-size: 70%;
  }

  @media (min-width: 769px) {
    @include element-glow(4px);
  }

  @media (max-width: 768px) {
    padding: 0 0 calc(var(--navbar-height) + 2em);
    min-height: unset;
    background-color: transparent;

    .noChords {
      margin: 1rem 0 -0.5em;
      border-radius: calc(var(--radius) / 2);
      background-color: var(--elements);
      font-size: 65%;
    }
  }

  @media print {
    padding: 0;
    font-size: 15px !important;

    span {
      display: none;
    }
  }
}

.text {
  margin-bottom: 1em;
  padding: 1rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media (max-width: 768px) {
    padding: 1.5em 1em 0;
    min-height: unset;
    gap: 0.65em;
  }

  @media print {
    padding: 0 1rem;
    color: #000000;
    font-size: 135%;
  }
}

.hymnTitle {
  display: flex;
  flex-direction: column;
  gap: 0.3em;

  p {
    font-size: 90%;
    color: var(--accent-color);
  }

  h1 {
    font-size: 150%;
  }

  @media (max-width: 768px) {
    font-size: 90%;

    h1 {
      font-size: 135%;
    }
  }

  @media print {
    gap: 0.6rem;

    h1 {
      font-size: 155%;
    }
  }
}

.printLine {
  display: none;

  @media print {
    display: block;
    position: relative;
    right: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-top: solid 0.05cm #000000;
  }
}

.lyrics {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;

  @media (max-width: 768px) {
    font-size: 95%;
  }

  .italic {
    opacity: 85%;
    font-style: italic;
  }

  .verse {
    display: flex;
    flex-direction: column;
    gap: 0.05em;
    white-space: break-spaces;
    line-height: 140%;

    span.chord {
      position: relative;
      top: 0.25em;
      color: var(--accent-color);
      filter: contrast(80%);
    }
  }

  .changeLanguage {
    margin-left: -0.5rem;
    padding: 6px 15px 6px 12px;
    text-align: center;
    color: var(--text);
    background-color: var(--menu-elements-hover);
    border-radius: 0.4rem;
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }
  }

  @media print {
    padding: 0 0.5rem;
    width: 100%;

    .verse {
      page-break-inside: avoid;
    }

    .changeLanguage {
      display: none;
    }
  }
}

.credits {
  opacity: 80%;
  margin: 0.5em 0 -1em;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 75%;

  @media (max-width: 768px) {
    margin-bottom: 0.5em;
  }
}

.linked {
  padding: 0.6em 0.8em 0.6em 1.2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8em;
  border-radius: calc(var(--radius) / 2);
  background-color: var(--elements-hover);
  font-size: 70%;

  a {
    padding: 0.5em 1em;
    font-size: 110%;
    border-radius: calc(var(--radius) / 3);
    background-color: var(--menu-elements);

    &:hover {
      background-color: var(--menu-elements-hover);
    }
  }

  @media (max-width: 768px) {
    margin-top: 0.5em;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--elements);
    font-size: 65%;

    .name {
      margin-left: 0.5em;
    }

    a {
      background-color: var(--elements-hover);
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  transition: 150ms ease-out;

  button {
    padding: 12px 26px;
    gap: 8px;
    font-size: 90%;
    @include element-glow(4px);

    .previous {
      rotate: 90deg;
    }
    .next {
      rotate: -90deg;
    }
  }

  @media (max-width: 768px) {
    position: fixed;
    left: 0;
    bottom: calc(var(--navbar-height) + 1.5rem);

    padding: 0 3%;
    width: 100%;

    button {
      opacity: 85%;
      position: relative;
      top: 0;
      padding: 0.8rem;
      height: 3rem;
      aspect-ratio: 1/1;
      border-radius: 100%;
      background-color: var(--elements);
      box-shadow: 0 3px 8px -3px #000000;
      transition: 150ms ease-out;

      &.randomButton,
      p {
        display: none;
      }

      img {
        position: relative;
        width: 20px;
        height: auto;
      }

      .previous {
        right: 1px;
      }
      .next {
        left: 1px;
      }
    }

    .hide {
      opacity: 0;
      scale: 35%;
      top: var(--navbar-height);
    }
  }

  @media print {
    display: none;
  }
}
