.searchBox {
  padding: 0.8rem 1.25rem 0.8rem 3.5rem;
  width: max(50rem, 65%);
  height: 3.5rem;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 30px;
  transition: 0.15s ease-out, 0.2s width ease-in-out;
  cursor: text;

  background-color: var(--elements);
  border: 2px solid var(--elements);

  &:hover {
    background-color: var(--elements-hover);
    border-color: var(--elements-hover);
    filter: brightness(0.9);

    @media (min-width: 769px) {
      width: 85%;
    }
  }

  img {
    position: absolute;
    left: 1.2rem;
    margin-left: auto;
  }

  p {
    opacity: 90%;
    user-select: none;
  }
}

.container {
  width: 100%;
  display: flex;
}

.leftSpace {
  width: 10%; // for grid symmetry
}

.options {
  width: 20%; // grid (both sides)

  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;

  button {
    max-width: 100%;
    overflow: hidden;

    opacity: 75%;
    padding: 12px 16px;
    justify-content: flex-start;
    gap: 12px;

    background-color: transparent;
    transition: 0.2s ease-out;

    &:hover {
      opacity: 100%;
      transform: translateY(-1px);
    }

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

$grid-gap: 0.6rem;

.center {
  width: 70%; // grid

  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: $grid-gap;
  font-size: min(1.2vw, 1rem);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $grid-gap;

  div {
    position: relative;
  }

  .book {
    padding: 6% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(1vw, 1rem);
    font-size: 110%;

    border-radius: 0.4rem;
    background-color: var(--elements);
    transition: 0.2s background-color ease-out;

    &:hover {
      background-color: var(--elements-hover);
    }

    img {
      width: auto;
      height: auto;
      border-radius: 0.2rem;
      box-shadow: rgba(#000000, 0.2) 0px 10px 20px,
        rgba(#000000, 0.22) 0px 6px 6px;
    }

    p {
      padding: 0 min(2.8vw, 3.5rem);
      width: 100%;
      text-align: center;
    }
  }

  .icon {
    opacity: 75%;
    position: absolute;
    top: 4.5%;
    right: 8%;

    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.4rem;
    transition: 0.2s opacity ease-in-out, 0.1s transform ease-out;
    filter: drop-shadow(#000000 1px -2px 20px);

    &:hover {
      opacity: 100%;
      transform: scale(1.05) translateY(-1px);
    }

    img {
      width: min(30px, 3vw);
      height: auto;
    }

    @media (min-width: 769px) {
      img {
        filter: invert(1) drop-shadow(#000000 -1px 4px 8px) !important;
      }
    }
  }
}

.books {
  padding: 1.4rem;
  width: 100%;
  text-align: center;
  border-radius: 0.4rem;
  background-color: var(--elements);
  transition: 0.2s background-color ease-out;
  font-size: 115%;

  &:hover {
    background-color: var(--elements-hover);
  }
}

.footer {
  opacity: 45%;
  padding: 0.5rem 0 calc(var(--navbar-height) + 1rem);
  display: none;
  text-align: center;
  font-size: min(2.2vw, 80%);
  user-select: none;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 320px) {
    padding: 3vw 0 calc(var(--navbar-height-mobile) + 5vw);
  }
}

@media (max-width: 1024px) {
  .searchBox {
    width: 85%;

    &:hover {
      width: 100%;
    }
  }

  .leftSpace {
    width: auto;
  }

  .options {
    margin-top: 1.5rem;
    width: auto;

    p {
      display: none;
    }

    button {
      padding: min(1vw);

      img {
        width: max(2vw, 35px);
        height: auto;
      }
    }
  }

  .center {
    width: 100%;
    font-size: 1.9vw;
  }

  .grid .book {
    gap: 1.5vw;
    font-size: 100%;

    p {
      padding: 0 2.5vw;
    }
  }

  .books {
    font-size: 105%;
  }
}

@media (max-width: 768px) {
  .searchBox {
    margin-bottom: -0.5rem;
    width: 100%;
    height: 3.5rem;
    font-size: min(4vw, 105%);

    img {
      scale: 85%;
    }
  }

  .options {
    display: none;
  }

  $grid-gap: 1.2vw;

  .center {
    padding: 0;
    font-size: min(1.25rem, 3.5vw);
    gap: $grid-gap;
  }

  .grid {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $grid-gap;

    .book {
      padding: 2.5vw;
      max-width: unset;
      flex-direction: row;
      gap: calc($grid-gap * 2.5);

      img {
        height: min(10rem, 30vw);
        border-radius: 2%;
      }

      p {
        text-align: left;
        font-size: 110%;
      }
    }

    .icon {
      opacity: 40%;
      padding: min(3vw, 1rem);
      top: 0.5vw;
      right: 0.5vw;
      border-radius: 0.4rem;
      aspect-ratio: 1/1;

      &:hover {
        transform: none;
        background-color: var(--elements-hover);
        filter: none;
      }

      img {
        width: min(5.5vw, 1.8rem);
      }
    }
  }

  .books {
    padding: min(1.5rem, 5%);
  }

  .footer {
    display: flex;
  }
}

@media (max-width: 425px) {
  .searchBox {
    margin-bottom: -1.5vw;
    padding: 1vw 1.5vw 1vw 13.5vw;
    height: 11.5vw;

    img {
      width: 6vw;
      height: auto;
      left: 4.2vw;
    }
  }
}
