.title {
  position: relative;
  right: min(1vw, 8px);
  height: var(--mobileHeader-height);
  display: flex;
  justify-content: center;
  font-weight: bold;

  @media (min-width: 769px) {
    display: none;
  }

  .logotype {
    position: absolute;
    bottom: -1vw;
    justify-content: center;
    scale: 1.25;

    p {
      font-size: min(5.5vw, 125%) !important;
    }
  }
}

.mobileHeader {
  width: 100%;

  &.active {
    box-shadow: unset;

    .logotype {
      opacity: 0;
    }
  }

  .logotype {
    padding: 0 1%;
    display: flex;
    align-items: center;
    gap: min(1.5vw, 0.5rem);

    p {
      position: relative;
      top: 1px;
      font-size: 110%;
    }

    @media (max-width: 320px) {
      img {
        height: 12.5vw;
        width: auto;
      }
    }
  }

  // Hamburger Menu
  // https://wykladybiblijne.org/

  svg {
    height: 90%;
    aspect-ratio: 1/1;
    stroke: #000000;
    stroke-width: 2px;
    fill: none;
    position: absolute;

    path {
      transition: stroke-dasharray var(--duration, 850ms) var(--easing, ease)
          var(--delay, 0s),
        stroke-dashoffset var(--duration, 850ms) var(--easing, ease)
          var(--delay, 0s);
      stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
      stroke-dashoffset: var(--offset, 126px);
      transform: translateZ(0);

      &:nth-child(2) {
        --duration: 0.7s;
        --easing: ease-in;
        --offset: 100px;
        --array-2: 74px;
      }
      &:nth-child(3) {
        --offset: 133px;
        --array-2: 107px;
      }
    }

    &.active path {
      --offset: 57px;

      &:nth-child(1),
      &:nth-child(3) {
        --delay: 0.15s;
        --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
      }
      &:nth-child(2) {
        --duration: 0.4s;
        --offset: 2px;
        --array-1: 1px;
      }
      &:nth-child(3) {
        --offset: 58px;
      }
    }
  }
}

.hamburgerMenu {
  z-index: 2;
  padding-top: calc(var(--navbar-height) + 3rem);
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.65rem;
  background-color: var(--elements);

  a,
  button {
    padding: 3vw 10%;
    font-size: 130%;
    font-weight: bold;
    border-radius: 0.4rem;
    background-color: transparent;
  }
}

.searchBox {
  width: max(50rem, 65%);
  height: 3.5rem;
  position: relative;
  border-radius: 30px;
  // overflow: hidden;
  cursor: text;
  transition: 150ms width ease-out;

  background-color: var(--elements);
  border: 2px solid var(--elements);

  &:hover {
    border-color: var(--elements-hover);

    .randomButton p {
      opacity: 1;
      right: 0;
    }

    @media (min-width: 769px) {
      width: 85%;
    }
  }

  @media (max-width: 1024px) {
    width: 85%;

    &:hover {
      width: 100%;
    }
  }

  a,
  button {
    border-radius: 30px !important;
    transition: 150ms ease-out;

    &:hover {
      background-color: var(--elements-hover);
    }
  }

  .search {
    padding: 0.8rem 1.25rem 0.8rem 3.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    img {
      position: absolute;
      left: 1.2rem;
    }

    p {
      opacity: 90%;
      user-select: none;
    }
  }

  .randomButton {
    z-index: 1;
    opacity: 85%;

    padding: 0 1rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;

    p {
      opacity: 0;
      position: relative;
      right: -100%;
      transition: 150ms ease-out;
      font-size: 80%;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    margin-bottom: -0.5rem;
    width: 100%;
    height: 3.5rem;

    .search {
      img {
        scale: 85%;
      }

      p {
        position: relative;
        top: 1px;
      }
    }

    .randomButton {
      display: none;
    }
  }

  @media (max-width: 425px) {
    margin-bottom: -1.5vw;
    height: 11.5vw;
    font-size: 3.6vw;

    .search {
      padding: 1vw 1.5vw 1vw 13.5vw;

      img {
        width: 6vw;
        height: auto;
        left: 4.5vw;
      }

      p {
        top: 0;
      }
    }
  }
}

$grid-gap: 0.6rem;
$grid-gap-mobile: 1.2vw;

.container {
  width: max(65%, 50rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $grid-gap;

  p {
    font-size: 110%;
  }

  @media (max-width: 1024px) {
    width: 95%;

    p {
      font-size: 1.8vw;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    gap: $grid-gap-mobile;

    p {
      font-size: min(3.65vw, 125%);
    }
  }
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $grid-gap;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: $grid-gap-mobile;
  }

  div {
    position: relative;
  }

  .book {
    padding: 6% 8%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    border-radius: 0.4rem;
    background-color: var(--elements);
    transition: 200ms background-color ease-in-out;

    &:hover {
      background-color: var(--elements-hover);
    }

    img {
      width: auto;
      height: auto;
      border-radius: 0.2rem;
      box-shadow: rgba(#000000, 0.2) 0px 10px 20px,
        rgba(#000000, 0.22) 0px 6px 6px;
    }

    p {
      padding: 0 min(2.8vw, 3.5rem);
      width: 100%;
      text-align: center;
    }

    @media (max-width: 1024px) {
      gap: 1.65vw;

      p {
        padding: 0 4vw;
      }
    }

    @media (max-width: 768px) {
      padding: 2.5vw;
      flex-direction: row;
      gap: calc($grid-gap-mobile * 4);

      img {
        height: min(10rem, 30vw);
        border-radius: 2%;
      }

      p {
        text-align: left;
        padding: 0;
      }
    }
  }

  .pdfIcon {
    opacity: 75%;
    position: absolute;
    top: 4.5%;
    right: 8%;

    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.4rem;
    transition: 200ms opacity ease-in-out, 150ms transform ease-out;
    filter: drop-shadow(#000000 1px -2px 20px);

    &:hover {
      opacity: 100%;
      transform: scale(1.05) translateY(-1px);
    }

    img {
      width: min(30px, 3vw);
      height: auto;

      @media (min-width: 769px) {
        filter: invert(1) drop-shadow(#000000 -1px 4px 8px) !important;
      }
    }

    @media (max-width: 768px) {
      opacity: 40%;
      padding: min(3vw, 1rem);
      top: 0.5vw;
      right: 0.5vw;
      border-radius: 0.4rem;
      aspect-ratio: 1/1;

      &:hover {
        transform: none;
        background-color: var(--elements-hover);
        filter: none;
      }

      img {
        width: min(5.5vw, 1.8rem);
      }
    }
  }
}

.more {
  padding: min(5%, 1.5rem);
  width: 100%;
  text-align: center;
  border-radius: 0.4rem;
  background-color: var(--elements);
  transition: 200ms background-color ease-in-out;

  &:hover {
    background-color: var(--elements-hover);
  }
}

.footer {
  opacity: 50%;
  padding: min(3vw, 0.5rem) 0 calc(var(--navbar-height) + min(6vw, 1rem));
  display: flex;
  text-align: center;
  font-size: min(2.2vw, 80%);
  user-select: none;

  @media (min-width: 769px) {
    display: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
