@import '../mixins';

.main {
  @media (min-width: 769px) {
    padding-top: 2rem;
    gap: 2rem;
  }
}

.title {
  $margin-bottom: 6px;
  position: relative;
  margin-bottom: $margin-bottom;
  padding: 1vw 2%;
  height: var(--mobileHeader-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--elements);
  box-shadow: 0 -12px 16px 2px #000000;
  overflow: hidden;

  @media (min-width: 769px) {
    display: none;
  }

  .logotype {
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 6px;

    h1 {
      font-size: 22px;
    }
  }

  .hamburgerIcon {
    z-index: 3;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--radius);
    background-color: transparent;
    transition: 150ms transform ease-out;

    svg {
      position: absolute;
      height: 90%;
      aspect-ratio: 1/1;
      stroke: #000000;
      stroke-width: 2.5px;
      fill: none;

      path {
        transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease)
            var(--delay, 0s),
          stroke-dashoffset var(--duration, 0.85s) var(--easing, ease)
            var(--delay, 0s);
        stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
        stroke-dashoffset: var(--offset, 126px);
        transform: translateZ(0);

        &:nth-child(2) {
          --duration: 0.7s;
          --easing: ease-in;
          --offset: 100px;
          --array-2: 74px;
        }
        &:nth-child(3) {
          --offset: 133px;
          --array-2: 107px;
        }
      }

      &.active path {
        --offset: 57px;

        &:nth-child(1),
        &:nth-child(3) {
          --delay: 0.15s;
          --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
        }
        &:nth-child(2) {
          --duration: 0.4s;
          --offset: 2px;
          --array-1: 1px;
        }
        &:nth-child(3) {
          --offset: 58px;
        }
      }
    }
  }

  @media (max-width: 425px) {
    margin-bottom: 1vw;

    .logotype {
      h1 {
        font-size: 5vw;
      }

      img {
        height: 9vw;
        width: auto;
      }
    }

    .hamburgerIcon img {
      height: 6vw;
      width: auto;
    }
  }

  &.center {
    position: relative;
    top: 0.5vw;
    margin-bottom: 0;
    padding: 0;
    height: calc(var(--mobileHeader-height) + $margin-bottom);
    justify-content: center;
    align-items: flex-end;
    box-shadow: none;
    background-color: transparent;

    a {
      position: relative;
      right: 0.8vw;
      display: flex;
      align-items: center;
      scale: 125%;
    }

    @media (max-width: 425px) {
      height: calc(var(--mobileHeader-height) + 1vw);
      font-size: 4vw;

      a {
        gap: 1.5vw;
      }

      img {
        height: 9vw;
        width: auto;
      }
    }
  }
}

.hamburgerMenu {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: calc(var(--navbar-height) + min(12%, 3.5rem));
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  background-color: var(--elements);

  @media (min-width: 769px) {
    display: none;
  }

  a,
  button {
    padding: min(3vw, 14px) 15%;
    font-size: min(7vw, 125%);
    font-weight: 700;
    border-radius: var(--radius);
    background-color: transparent;
  }
}

.searchBox {
  position: relative;
  width: min(850px, 95%);
  display: flex;
  align-items: center;
  @include element-glow();
  @include fade-in();

  .searchIcon {
    position: absolute;
    left: var(--space);
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  .search {
    padding: 0 3.5rem;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 19px;
    border-radius: var(--radius);
    border: var(--space) solid var(--elements);
    background-color: var(--elements);
    transition: border-color 150ms ease-out;

    @media (max-width: 768px) {
      font-size: 100%;
    }

    &:hover {
      background-color: var(--elements-hover);
      border-color: var(--elements-hover);
    }
  }

  button {
    position: absolute;
    right: var(--space);
    height: calc(100% - 2 * var(--space));
    aspect-ratio: 1/1;
    border-radius: calc(var(--radius) - var(--space));
    background-color: transparent;

    @media (min-width: 769px) {
      &:hover {
        background-color: var(--elements-hover);
      }
    }
  }

  @media (max-width: 425px) {
    .searchIcon {
      left: 0.8vw;

      img {
        height: auto;
        width: 5.5vw;
      }
    }

    .search {
      padding: 0.8vw 12vw;
      height: 12vw;
      font-size: 4.2vw;
    }

    button img {
      height: 5.5vw;
      width: auto;
    }
  }
}

$grid-gap: 0.6rem;
$grid-gap-mobile: 1.2vw;

.container {
  width: min(850px, 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $grid-gap;
  @include fade-in(175ms);

  p {
    font-size: 110%;

    @media (max-width: 1024px) {
      font-size: 2.2vw;
    }
  }

  @media (max-width: 768px) {
    gap: $grid-gap-mobile;

    p {
      font-size: min(3.8vw, 125%);
    }
  }
}

.grid {
  display: flex;
  gap: $grid-gap;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: $grid-gap-mobile;
  }

  div {
    position: relative;
    flex: 1;
  }
}

.book {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: var(--radius);
  background-color: var(--elements);
  @include element-glow();

  &:hover {
    background-color: var(--elements-hover);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: calc(2 * var(--space));
    box-shadow: rgba(#000000, 0.2) 0px 10px 20px,
      rgba(#000000, 0.22) 0px 6px 6px;
  }

  p {
    padding: 0 40px;
    width: 100%;
    text-align: center;
  }

  @media (max-width: 1024px) {
    gap: 1.65vw;

    p {
      padding: 0 3vw;
    }
  }

  @media (max-width: 768px) {
    padding: 2.5vw;
    flex-direction: row;
    gap: calc($grid-gap-mobile * 4);

    img {
      height: min(10rem, 30vw);
      width: auto;
      border-radius: 2%;
    }

    p {
      text-align: left;
      padding: 0;
    }
  }
}

.pdfIcon {
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 0.5rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  transition: 200ms filter ease-out, 150ms transform ease-out;
  filter: drop-shadow(rgba(#000000, 0.3) 1px 1px) drop-shadow(#000000 0 0 5px);

  &:hover {
    transform: scale(1.05) translateY(-1px);
    filter: drop-shadow(rgba(#000000, 0.3) 1px 1px) drop-shadow(#000000 0 0 5px)
      drop-shadow(rgba(#000000, 0.3) 0 0 10px);
  }

  img {
    filter: invert(1);
  }

  @media (max-width: 768px) {
    opacity: 0.8;
    top: 0;
    right: 0;
    padding: min(3.5vw, 1rem);
    filter: none;

    &:hover {
      opacity: 1;
      transform: none;
      background-color: var(--elements-hover);
      filter: none;
    }

    img {
      width: min(5.5vw, 25px);
      filter: none;
    }
  }
}

.moreButton {
  padding: min(5%, 1.5rem);
  width: 100%;
  text-align: center;
  border-radius: var(--radius);
  background-color: var(--elements);
  @include element-glow();

  &:hover {
    background-color: var(--elements-hover);
  }
}
