@import '../mixins';

.main {
  @media (max-width: 768px) {
    padding-bottom: 3.5rem;
  }
}

.title {
  position: relative;
  margin-bottom: 6px;
  height: 45px;
  width: min(850px, 95%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include fade-in();

  a {
    z-index: 1;
    opacity: 0.85;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: calc(var(--radius) / 2);
    transition: transform 150ms ease-out;

    p {
      line-height: 8px;
    }

    @media (min-width: 769px) {
      &:hover {
        opacity: 1;
        transform: translateY(-1px);
      }
    }
  }

  h1 {
    position: absolute;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 21px;
  }

  @media (max-width: 768px) {
    overflow: hidden;
    padding: 1vw 2%;
    height: var(--mobileHeader-height);
    width: 100%;
    background-color: var(--elements);
    box-shadow: 0 -12px 16px 2px #000000;

    h1 {
      padding-top: 0.5vw;
      font-size: 16px;
    }

    a {
      opacity: 1;
      padding: 0;
      height: 100%;
      aspect-ratio: 1/1;

      p {
        display: none;
      }

      img {
        height: min(25px, 5.5vw);
        width: auto;

        &:first-child {
          height: min(23px, 5.25vw);
        }
      }
    }
  }

  @media (max-width: 425px) {
    margin-bottom: 1vw;

    h1 {
      font-size: 4.5vw;
    }

    a img {
      height: 6vw;
    }
  }
}

.searchBox {
  position: relative;
  width: min(850px, 95%);
  display: flex;
  align-items: center;
  @include element-glow();
  @include fade-in(175ms);

  .searchIcon {
    position: absolute;
    left: var(--space);
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  input {
    padding: 0 3.5rem;
    height: 3.5rem;
    width: 100%;
    font-size: 19px;
    border-radius: var(--radius);
    border: var(--space) solid var(--elements);
    background-color: var(--elements);
    transition: 100ms ease-out !important;

    @media (max-width: 768px) {
      font-size: 100%;
    }

    &:hover {
      background-color: var(--elements-hover);
      border-color: var(--elements-hover);
    }

    &::placeholder {
      opacity: 0.6;
    }

    &:focus {
      border-color: var(--accent-color);
      box-shadow: 0px 0px 20px -5px var(--accent-color);
    }
  }

  button {
    position: absolute;
    right: var(--space);
    height: calc(100% - 2 * var(--space));
    aspect-ratio: 1/1;
    border-radius: calc(var(--radius) - var(--space));
    background-color: transparent;

    img {
      scale: 105%;
    }

    @media (min-width: 769px) {
      &:hover {
        background-color: var(--elements-hover);
      }
    }
  }

  @media (max-width: 425px) {
    .searchIcon {
      left: 0.8vw;

      img {
        height: auto;
        width: 5.5vw;
      }
    }

    input {
      padding: 0.8vw 12vw;
      height: 12vw;
      font-size: 4.2vw;
    }

    button img {
      height: 5.5vw;
      width: auto;
    }
  }
}

.results {
  width: min(850px, 95%);
  border-radius: var(--radius);
  background-color: var(--elements);
  font-size: 16px;
  @include element-glow();
  @include fade-in(200ms);

  a {
    margin: var(--space);
    padding: 1rem 1.25rem;
    display: flex;
    border-radius: calc(var(--radius) - var(--space));
    transition: background-color 100ms ease-out;
  }

  hr {
    height: var(--space);
    background-color: var(--background);
  }

  @media (max-width: 768px) {
    font-size: 14px;

    a {
      margin: 0;
    }
  }

  @media (max-width: 425px) {
    font-size: 4.2vw;

    a {
      padding: 3.5vw 4.5vw;
    }

    h2 {
      font-size: 100%;
    }
  }
}

.noResults {
  opacity: 0.6;
  margin: var(--space);
  padding: 1rem 1.25rem;
  font-size: 125%;
  cursor: default;

  @media (max-width: 425px) {
    padding: 3.5vw 4.5vw;
    font-size: 100%;
  }
}

.hymn {
  position: relative;
  width: 100%;

  a:hover,
  button:hover {
    background-color: var(--elements-hover);
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  .highlight {
    color: var(--accent-color);
  }

  h2,
  p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .lyrics {
    opacity: 0.65;
    position: relative;
    margin: 6px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    transition: opacity 150ms ease-out;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        180deg,
        var(--elements) -20%,
        rgba(#ffffff, 0) 25%,
        rgb(#ffffff, 0) 55%,
        var(--elements) 125%
      );
    }
  }

  &:hover .lyrics {
    opacity: 0.7;

    &::after {
      background: linear-gradient(
        180deg,
        var(--elements-hover) -18%,
        rgba(#ffffff, 0) 30%,
        rgb(#ffffff, 0) 50%,
        var(--elements-hover) 120%
      );
    }
  }

  @media (max-width: 425px) {
    gap: 0.5vw;

    .lyrics {
      margin: 1.5vw 0;
    }
  }
}

.quickActions {
  position: absolute;
  top: 0;
  right: var(--space);
  height: 100%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 768px) {
    top: 0;
    right: 0;
    height: 100%;
  }

  button {
    opacity: 0.85;
    max-height: 58px;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: calc(var(--radius) - var(--space));
    background-color: transparent;

    &:hover {
      opacity: 1;
      background-color: var(--elements-hover);
    }

    &.onHover {
      @media (min-width: 769px) {
        display: none;
      }
      @media (max-width: 1024px) {
        display: none !important;
      }
    }

    @media (max-width: 768px) {
      padding: 1rem !important;
      max-height: 3.4rem;
    }

    @media (max-width: 425px) {
      padding: 0 !important;
      max-height: 13vw;

      img {
        height: 5.5vw;
      }
    }
  }
}

.scrollButton {
  visibility: hidden;
  opacity: 0;
  scale: 80%;

  position: sticky;
  bottom: 6.5%;
  left: 100%;
  padding: 5px;
  height: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: var(--accent-color) !important;
  box-shadow: 0 3px 8px -3px #000000;
  transition: 150ms ease-out;
  filter: saturate(1.1);

  &.show {
    visibility: visible;
    opacity: 0.85;
    scale: 100%;
  }

  img {
    rotate: 180deg;
    filter: invert(1);
  }

  @media (min-width: 769px) {
    &:hover {
      filter: saturate(1.5);
    }
  }

  @media (max-width: 768px) {
    $height: min(3rem, 12vw);

    bottom: calc(var(--navbar-height) + 1.3rem);
    left: calc(100% - $height - 3%);
    padding: min(0.8rem, 3.5vw);
    height: $height;
  }
}
