.mobileTitle {
  margin: 0.5rem 0 -0.5rem;
  width: 100%;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;

  button {
    width: 3rem;
    aspect-ratio: 1/1;
    position: absolute;
    left: 1%;
    background-color: transparent;

    img {
      rotate: 90deg;
    }
  }
}

.searchBox {
  width: 85%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    padding: 0 3.5rem;
    width: 100%;
    height: 3.5rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    border-radius: 30px;
    transition: 0.15s ease-out;
    cursor: text;

    background-color: var(--elements);
    border: 2px solid var(--elements);

    &:hover {
      background-color: var(--elements-hover);
      border-color: var(--elements-hover);
      filter: brightness(0.9);
    }

    &:focus {
      border-color: var(--accent-color);
      box-shadow: 0px 0px 20px -5px var(--accent-color);
    }
  }

  .searchIcon {
    left: calc(1.2rem + 1px);
    pointer-events: none;
  }

  .clearButton {
    padding: 1rem;
    height: 90%;
    aspect-ratio: 1/1;
    display: none;
    right: 2px;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.2s background-color ease-out;

    &:hover {
      background-color: var(--menu-elements);
    }
  }
}

.filters {
  margin: -1rem 0 -0.5rem; // remove default gap
  width: 80%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;

  .filtersTitle {
    font-weight: bold;
    font-size: 105%;
  }

  button {
    padding: 6px;
    border-radius: 30px;
    color: var(--accent-color);
    transition: 0.15s ease-out;

    p {
      padding: 8px 22px;
      border: 1px solid var(--accent-color);
      border-radius: 30px;
    }

    &:hover {
      color: #ffffff;
      background-color: var(--accent-color);

      p {
        border-color: #ffffff;
      }
    }
  }
}

.results {
  width: 80%;
  border-radius: 0.6rem;
  background-color: var(--elements);

  a {
    padding: 1rem 1.1rem;
    display: block;
    border-radius: 0.4rem;
    transition: 0.1s background-color ease-out;

    &:hover {
      background-color: var(--elements-hover);
    }

    h2,
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    h2 {
      height: 100%;
      width: 100%;
      font-size: 115%;
    }

    p {
      opacity: 75%;
      margin: 8px 6px 0;
      font-size: 90%;
    }
  }

  hr {
    height: 2px;
    background-color: var(--background);
  }
}

.noResults {
  opacity: 65%;
  margin: 4px;
  padding: 1rem 0.8rem;
  font-size: 115%;
  cursor: default;
}

.scrollButton {
  z-index: 99; // always on top

  margin: -4.5rem 0 -2.5rem;
  padding: 1rem;
  width: 3.5rem;
  aspect-ratio: 1/1;
  position: sticky;
  bottom: 3%;
  left: 100%;
  background-color: var(--accent-color) !important;
  box-shadow: 0 3px 8px -1px #000000;
  transition: 0.15s ease-in-out;
  border-radius: 100%;

  @media (min-width: 768px) {
    &:hover {
      filter: contrast(1.2);
    }
  }

  img {
    transform: rotate(180deg);
    filter: invert(1);
    width: auto;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .searchBox {
    width: 100%;
  }

  .filters,
  .results {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .mobileTitle {
    display: flex;
  }

  .searchBox {
    input {
      height: 3.5rem;
      font-size: min(4vw, 105%);
    }

    img {
      scale: 85%;
    }
  }

  .filters {
    font-size: min(3.5vw, 90%);
  }

  .results {
    width: 100%;
    font-size: 90%;

    a {
      margin: 2px;
    }
  }

  .scrollButton {
    margin: -3vw 1% 0 0;
    scale: 85%;
    bottom: 2%;
  }
}

@media (max-width: 425px) {
  .mobileTitle {
    margin: 2vw 0 -1.6vw;
    font-size: 3.65vw;

    button {
      width: 12vw;
      padding: 3vw;
    }
  }

  .searchBox {
    input {
      $fontSize: 3.6vw;

      padding: 1vw 1.5vw 1vw 13.5vw;
      height: 11.5vw;
      font-size: $fontSize;

      &::placeholder {
        font-size: $fontSize;
      }
    }

    .searchIcon {
      left: 5vw;

      img {
        width: 6vw;
        height: auto;
      }
    }

    .clearButton {
      padding: 3.5vw;
    }
  }

  .scrollButton {
    width: 14vw;
    padding: 3.5vw;
    bottom: 5vw;
  }
}

@media (max-width: 320px) {
  .filters {
    margin: -4.5vw 0 -3vw;
    gap: 2.5vw;

    button {
      padding: 1.5vw;

      p {
        padding: 2.4vw 6vw;
      }
    }
  }

  .filtersTitle {
    font-size: 4.5vw;
  }

  .results {
    margin-bottom: 8vw;
    font-size: 4.2vw;

    a {
      padding: 4vw 3.5vw;

      p {
        margin: 2vw 1vw 0;
      }
    }
  }

  .noResults {
    padding: 4vw 3vw;
    font-size: 4.7vw;
  }
}
