@import '../mixins';

.menuComponent {
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: center;
}

.menuBackground {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: transparentize(#000000, 0.55);
  backdrop-filter: blur(5px);
}

.menuHandler {
  $margin: 5%;
  padding: 1.25rem 1rem;
  position: fixed;
  top: $margin;
  max-height: calc(100vh - (2 * $margin));
  max-width: 40rem;
  width: 98%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--menu-background);
  border-radius: var(--radius);
  box-shadow: rgba(#000000, 0.2) 0px 10px 20px, rgba(#000000, 0.22) 0px 6px 6px;

  @media (max-width: 768px) {
    padding: min(4vw, 1.25rem) 2.5vw;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.6rem;
    background-color: var(--menu-background);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: var(--menu-elements);

    &:hover {
      background-color: var(--menu-elements-hover);
    }
  }
}

.menuBox {
  $gap: min(2vw, 0.5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $gap;

  h2 {
    margin: calc($gap / 2) 0 calc($gap * 1.5);
    font-size: min(5vw, 150%);
    font-weight: 700;
  }
}

// Menu components template

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 0.4rem;
  overflow: hidden;
  @include element-glow(4px);
}

.buttons {
  margin: 1rem 0 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: min(4vw, 1rem);
  background-color: unset;

  button {
    padding: min(2vw, 0.6rem) min(5vw, 1.5rem);
    background-color: var(--menu-elements);
    @include element-glow(4px);

    &:hover {
      background-color: var(--menu-elements-hover);
    }

    &.alert {
      color: #ffffff;
      background-color: #912626;
    }
  }

  @media (max-width: 768px) {
    margin: 2% 0 0.5%;

    button {
      font-size: min(3.5vw, 100%);
    }
  }
}

// Favorites menu

.favorites {
  position: relative;
  min-height: min(25rem, 45svh);
  align-items: center;
  border: 1px solid var(--menu-elements);

  .settings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: min(3.5vw, 100%);

    span {
      padding-left: min(3vw, 1rem);
    }

    div {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    button {
      position: relative;
      padding: min(2vw, 0.5rem) min(6vw, 1.5rem);
      display: flex;
      align-items: center;
      gap: 0.8rem;
      background-color: var(--menu-elements);
      border-radius: 0;

      select {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        user-select: none;
        color: var(--text);
        background-color: var(--menu-elements-hover);

        &:focus {
          box-shadow: none;
        }
      }

      img {
        position: relative;
        top: 1px;
        user-select: none;
        pointer-events: none;
      }

      @media (max-width: 320px) {
        gap: 3vw;

        img {
          height: 4vw;
          width: auto;
        }
      }
    }
  }

  .placeholder {
    opacity: 25%;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: min(3.75vw, 100%);
    font-style: italic;
  }
}

.favorite {
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--menu-elements);

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  a {
    padding: min(0.8rem, 3vw) min(1.2rem, 3.5vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: start;
    font-size: min(3.5vw, 100%);

    p {
      max-width: 90%;
      font-size: 110%;
    }
  }

  @media (max-width: 320px) {
    button {
      padding: 4.5vw;

      img {
        height: auto;
        width: auto;
      }
    }
  }

  a:hover,
  button:hover {
    background-color: var(--menu-elements-hover);
  }

  .info {
    opacity: 60%;
    font-size: 75%;

    span {
      font-size: 85%;
    }
  }
}

.removeButton {
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  background-color: transparent;

  img {
    opacity: 75%;
  }

  @media (min-width: 1025px) {
    display: none;

    img {
      opacity: 60%;
    }

    &:hover img {
      opacity: 100%;
    }
  }

  @media (max-width: 1024px) {
    &:hover {
      background-color: transparent;
    }
  }
}

// Settings menu

.settingsSection {
  padding: 1.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: min(3vw, 1rem);
  background-color: var(--menu-elements);

  @media (max-width: 768px) {
    padding: min(4vw, 1.2rem) min(5vw, 1.5rem);
  }

  h3 {
    margin-top: -0.3vw;
    font-size: min(3.5vw, 100%);
  }
}

.themeSelection {
  display: flex;
  gap: min(2.5vw, 0.8rem);

  label {
    padding: min(2.4vw, 8px) min(2vw, 7px);
    width: min(13vw, 3.4rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: min(1.5vw, 5px);
    border-radius: 0.4rem;
    cursor: pointer;

    &[for='black'] > *,
    &[for='gray'] > * {
      filter: invert(1);
    }

    &[for='black'] {
      background-color: #000000;
    }
    &[for='gray'] {
      background-color: #303030;
    }

    &[for='white'] {
      background-color: #f3f3f3;
    }
    &[for='reading'] {
      background-color: #f6efe2;
    }

    img {
      height: auto;
      user-select: none;
    }

    input {
      width: min(6vw, 1.5rem);
      aspect-ratio: 1/1;
      border: 1.5px solid #000000;
      border-radius: 100%;

      &:checked {
        background: url('/icons/check.svg') no-repeat center/60%;
      }
    }
  }
}

.fontPreview {
  height: 3.5rem;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;

  p {
    text-align: center;
  }

  @media (max-width: 768px) {
    width: min(100%, 25rem);

    p {
      font-size: 95%;
    }
  }
}

.fontSlider {
  position: relative;
  margin: min(4vw, 1rem) 0;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(5vw, 1.25rem);

  @media (max-width: 768px) {
    width: min(100%, 25rem);
  }

  input {
    height: 0.5rem;
    width: 80%;
    background: var(--accent-color);
    border-radius: 30px;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      height: min(6vw, 1.5rem);
      width: min(7vw, 1.8rem);
      background-color: #ffffff;
      border-radius: 30px;
    }
  }

  .smaller,
  .bigger {
    position: absolute;
  }

  .smaller {
    left: 2px;
    font-size: min(4vw, 1rem);
  }

  .bigger {
    right: 2px;
    font-size: min(7.5vw, 2rem);
  }
}

$gap: min(2.5vw, 0.8rem);

.toggleList {
  padding: calc(min(3.5vw, 1rem) * 1.5);
  gap: calc($gap * 2);
}

.toggle {
  width: 100%;
  display: flex;
  gap: $gap;

  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    gap: calc($gap / 4);

    @media (max-width: 768px) {
      font-size: min(3.5vw, 100%);
    }

    h4 {
      position: relative;
      bottom: 3px;
      font-size: 105%;
      line-height: 125%;
    }

    p {
      opacity: 80%;
      font-size: 85%;
      line-height: 115%;
    }
  }

  .checkbox {
    $dotMargin: min(0.6vw, 0.2rem);
    $dotSize: min(5.5vw, 1.6rem);

    position: relative;
    height: calc($dotSize + (2 * $dotMargin));
    width: min(18vw, 5rem);
    display: flex;
    align-items: center;
    pointer-events: none;

    input {
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 30px;
      background-color: #9c9c9c;
      transition: 100ms ease-out;
      cursor: pointer;
      pointer-events: all;
    }

    input:checked {
      background-color: var(--accent-color);
    }

    input:checked + span {
      left: calc(100% - (calc($dotSize * 1.5) + (2 * $dotMargin)));
    }

    span {
      margin: $dotMargin;
      position: absolute;
      left: 0;
      height: $dotSize;
      width: calc($dotSize * 1.5);
      border-radius: 30px;
      background-color: #ffffff;
      transition: 100ms ease-out;
      pointer-events: none;
    }
  }
}

// Shortcuts menu

.shortcut {
  padding: 0.65rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--menu-elements);
  overflow: hidden;

  .keyUp {
    padding: 10px 22px;
    height: 100%;
    width: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 0.7rem;
    background: linear-gradient(180deg, #212121, #1a1a1a);
    overflow: hidden;
    user-select: none;

    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: 2px;
      bottom: 4px;
      right: 3px;
      background: linear-gradient(90deg, #252525, #292929);
      border-radius: 0.6rem;
      box-shadow: -10px -10px 10px rgba(#ffffff, 0.1);
    }

    p {
      position: relative;
      bottom: 1px;
    }
  }

  .action {
    font-size: 105%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
