.menuComponent {
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: center;
}

.menuBackground {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: transparentize(#000000, 0.55);
  backdrop-filter: blur(5px);
}

.menuHandler {
  $margin: 5%;

  padding: 1.25rem 1rem;
  position: fixed;
  top: $margin;
  max-height: calc(100vh - (2 * $margin));
  max-width: 40rem;
  width: 98%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--menu-background);
  border-radius: 0.6rem;
  box-shadow: rgba(#000000, 0.2) 0px 10px 20px, rgba(#000000, 0.22) 0px 6px 6px;

  @media (max-width: 768px) {
    padding: min(4vw, 1.25rem) 2.5vw;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.6rem;
    background-color: var(--menu-background);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background-color: var(--menu-elements);

    &:hover {
      background-color: var(--menu-elements-hover);
    }
  }
}

.menuBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  $gap: min(2vw, 0.5rem);
  gap: $gap;

  h2 {
    margin: calc($gap / 2) 0 calc($gap * 1.5);
    font-size: min(5vw, 150%);
    font-weight: bold;
  }
}

// menu components template

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 0.4rem;
  overflow: hidden;
}

.buttons {
  margin: 1rem 0 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: min(4vw, 1rem);
  background-color: unset;

  button {
    padding: min(2vw, 0.6rem) min(5vw, 1.5rem);
    background-color: var(--menu-elements);
    transition: 200ms background-color ease-in-out;

    &:hover {
      background-color: var(--menu-elements-hover);
    }

    &.alert {
      color: #ffffff;
      background-color: #912626;
    }
  }

  @media (max-width: 768px) {
    margin: 2% 0 0.5%;

    button {
      font-size: min(3.5vw, 100%);
    }
  }
}

// FAVORITES MENU

.favorites {
  position: relative;
  min-height: min(25rem, 45svh);
  align-items: center;
  border: 1px solid var(--menu-elements);

  .settings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: min(3.5vw, 100%);

    span {
      padding-left: min(3vw, 1rem);
    }

    div {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    button {
      position: relative;
      padding: min(2vw, 0.5rem) min(6vw, 1.5rem);
      display: flex;
      align-items: center;
      gap: 0.8rem;
      background-color: var(--menu-elements);
      border-radius: 0;

      select {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        user-select: none;
        color: var(--text);
        background-color: var(--menu-elements-hover);

        &:focus {
          box-shadow: none;
        }
      }

      img {
        position: relative;
        top: 1px;
        user-select: none;
        pointer-events: none;
      }

      @media (max-width: 320px) {
        gap: 3vw;

        img {
          height: 4vw;
          width: auto;
        }
      }
    }
  }

  .placeholder {
    opacity: 25%;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: min(3.75vw, 100%);
    font-style: italic;
  }
}

.favorite {
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--menu-elements);

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  a {
    padding: min(0.8rem, 3vw) min(1.2rem, 3.5vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: start;
    font-size: min(3.5vw, 100%);
    transition: 200ms background-color ease-in-out;

    p {
      max-width: 90%;
      font-size: 110%;
    }
  }

  @media (max-width: 320px) {
    button {
      padding: 4.5vw;

      img {
        height: auto;
        width: auto;
      }
    }
  }

  a:hover,
  button:hover {
    background-color: var(--menu-elements-hover);
  }

  .info {
    opacity: 60%;
    font-size: 75%;

    span {
      font-size: 85%;
    }
  }
}

.removeButton {
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  background-color: transparent;

  img {
    opacity: 75%;
  }

  @media (min-width: 1025px) {
    display: none;

    img {
      opacity: 60%;
    }

    &:hover img {
      opacity: 100%;
    }
  }

  @media (max-width: 1024px) {
    &:hover {
      background-color: transparent;
    }
  }
}

// SETTINGS MENU

.settingsSection {
  padding: 1.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: min(3vw, 1rem);
  background-color: var(--menu-elements);

  @media (max-width: 768px) {
    padding: min(4vw, 1.2rem) min(5vw, 1.5rem);
  }

  h3 {
    margin-top: -0.3vw;
    font-size: min(3.5vw, 100%);
  }
}

.themeSelection {
  display: flex;
  gap: min(2.5vw, 0.8rem);

  label {
    padding: min(2vw, 6px) min(1.6vw, 5px) min(2.5vw, 8px);
    width: min(12vw, 3.2rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: min(1.5vw, 5px);
    border-radius: 0.4rem;
    cursor: pointer;

    &[for='black'] > *,
    &[for='dark'] > * {
      filter: invert(1);
    }

    &[for='black'] {
      background-color: #000000;
    }
    &[for='dark'] {
      background-color: #303030;
    }

    &[for='light'] {
      background-color: #f3f3f3;
    }
    &[for='reading'] {
      background-color: #f6efe2;
    }

    img {
      height: auto;
    }

    input {
      width: min(6vw, 1.5rem);
      aspect-ratio: 1/1;
      border: 2px solid #000000;
      border-radius: 100%;

      &:checked {
        background: url('/icons/check.svg') no-repeat center/60%;
      }
    }
  }
}

.fontPreview {
  height: 3.5rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  border: 2px outset #909090;

  p {
    text-align: center;
  }

  @media (max-width: 768px) {
    width: min(90%, 22rem);

    p {
      font-size: 95%;
    }
  }
}

.fontSlider {
  position: relative;
  margin: min(4vw, 1rem) 0;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(5vw, 1.25rem);

  @media (max-width: 768px) {
    width: min(95%, 28rem);
  }

  input {
    height: 0.5rem;
    width: 80%;
    background: var(--accent-color);
    border-radius: 30px;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      height: 1.5rem;
      width: 1.5rem;
      background-color: #ffffff;
      border-radius: 30px;

      @media (max-width: 425px) {
        $size: min(8vw, 1.5rem);

        height: $size;
        width: $size;
      }
    }
  }

  .smaller,
  .bigger {
    position: absolute;
  }

  .smaller {
    left: 0.5vw;
    font-size: min(4vw, 1rem);
  }

  .bigger {
    right: -0.5vw;
    font-size: min(7.5vw, 2rem);
  }
}

.toggle {
  width: min(95%, 30rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: min(3.5vw, 100%);

  p {
    width: 80%;
    padding-right: 1rem;
    text-align: start;
  }
}

.checkbox {
  position: relative;

  $buttonWidth: 4rem;
  $buttonHeight: 1.5rem;
  $dotMargin: 0.25rem;

  height: calc($buttonHeight + ($dotMargin * 2.5));
  width: $buttonWidth;

  input:checked {
    & + span {
      background-color: var(--accent-color);
    }

    & + span:before {
      transform: translateX(
        calc($buttonWidth - $buttonHeight - ($dotMargin * 2))
      );
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    background-color: #9c9c9c;
    transition: 150ms ease-out;
    border-radius: 30px;
    cursor: pointer;

    &:before {
      content: '';
      margin: $dotMargin;
      height: $buttonHeight;
      width: $buttonHeight;
      background-color: #f3f3f3;
      transition: 150ms ease-out;
      border-radius: 30px;
    }
  }

  @media (max-width: 425px) {
    $buttonWidth: min(18vw, 4rem);
    $buttonHeight: min(8vw, 1.5rem);
    $dotMargin: 1vw;

    height: calc($buttonHeight + ($dotMargin * 2.5));
    width: $buttonWidth;

    input:checked + span:before {
      transform: translateX(
        calc($buttonWidth - $buttonHeight - ($dotMargin * 2))
      );
    }

    span:before {
      margin: $dotMargin;
      height: $buttonHeight;
      width: $buttonHeight;
    }
  }
}

// SHORTCUTS MENU

.shortcut {
  padding: 0.65rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--menu-elements);
  overflow: hidden;

  .keyup {
    padding: 10px 22px;
    height: 100%;
    width: 3rem;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    border-radius: 0.7rem;
    background: linear-gradient(180deg, #212121, #1a1a1a);
    overflow: hidden;
    user-select: none;

    &:before {
      content: '';
      position: absolute;
      top: 1px;
      left: 2px;
      bottom: 4px;
      right: 3px;

      background: linear-gradient(90deg, #252525, #292929);
      border-radius: 0.6rem;
      box-shadow: -10px -10px 10px rgba(#ffffff, 0.1);
    }

    p {
      position: relative;
      bottom: 1px;
    }
  }

  .action {
    font-size: 105%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
