.holder {
  z-index: 999;
  position: relative;
  justify-content: center;
}

.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparentize(#000000, 0.55);
  backdrop-filter: blur(5px);
}

.menu {
  $menuMargin: 5%;

  padding: 1.25rem 2rem;
  position: fixed;
  top: $menuMargin;
  width: 98%;
  max-width: 40rem;
  max-height: calc(100vh - (2 * $menuMargin));
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--menu-background);
  border-radius: 0.6rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  $gap: min(2vw, 0.5rem);
  gap: $gap;

  h2 {
    margin: calc($gap / 2) 0 calc($gap * 1.5);
    font-size: min(5vw, 150%);
    font-weight: bold;
  }
}

.element {
  padding: 1rem 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: var(--menu-elements);
  border-radius: 0.4rem;
}

.buttons {
  margin: 1rem 0 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: min(4vw, 1rem);
  background-color: unset;

  button {
    padding: min(2vw, 0.6rem) min(5vw, 1.5rem);
    background-color: var(--menu-elements);
  }
}

@media (max-width: 768px) {
  .menu {
    padding: min(4vw, 1.25rem) 2.5vw;
  }

  .element {
    padding: 3% 2vw;
    gap: min(6vw, 1rem);

    h3 {
      font-size: min(3.5vw, 100%);
    }
  }

  .buttons {
    margin: 2% 0 0.5%;

    button {
      font-size: min(3.5vw, 100%);
    }
  }
}

// FAVORITE MENU

.favTitle {
  p {
    margin: -0.2rem 0 0.8rem;
  }
}

.favList {
  .placeholder {
    opacity: 85%;
  }
}

// INFO MENU

.info {
  padding: 4% 3%;
  display: block;

  img {
    margin: min(3vw, 0.5rem) min(6vw, 1rem);
    float: left;

    @media (max-width: 768px) {
      width: min(20vw, 5rem);
      height: auto;
    }
  }

  p {
    align-items: flex-start;
    text-align: justify;
    font-size: min(3.5vw, 100%);
  }
}

// SETTINGS MENU

.colorTheme {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  overflow-x: auto;

  label {
    padding: min(2vw, 6px) min(1.6vw, 5px) min(3vw, 8px);
    width: min(14vw, 3.2rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 0.4rem;
    cursor: pointer;

    &[for="black"] {
      background-color: #000000;
      & > * {
        filter: invert(1);
      }
    }
    &[for="dark"] {
      background-color: #303030;
      & > * {
        filter: invert(1);
      }
    }
    &[for="light"] {
      background-color: #ffffff;
    }
    &[for="reading"] {
      background-color: #e5dcc9;
    }

    img {
      height: auto;
    }

    input {
      width: min(7vw, 1.5rem);
      aspect-ratio: 1/1;
      border: 2px solid #000000;
      border-radius: 100%;

      &:checked {
        background: url("/icons/check.svg") no-repeat center/60%;
      }
    }
  }

  @media (max-width: 768px) {
    gap: 2.5vw;
  }
}

.fontSize {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .smaller {
    font-size: 0.8rem;
  }

  input {
    margin: 0 0.8rem !important;
    width: 100% !important;
    all: revert;
    cursor: pointer;
  }

  .bigger {
    font-size: 1.6rem;
  }
}

.chordsToggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 30px;

    &:before {
      content: "";
      position: absolute;
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #ededed;
      transition: 0.2s;
      border-radius: 100%;
    }
  }

  input:focus + span {
    box-shadow: 0 0 1px #2170d0;
  }

  input:checked + span {
    background-color: #2170d0;
  }

  input:checked + span:before {
    transform: translateX(26px);
  }
}
