.icon {
  z-index: 20;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--radius);
  background: none !important;
  transition: 150ms transform ease-out;

  @media (min-width: 769px) {
    display: none;
  }

  svg {
    position: absolute;
    height: 90%;
    aspect-ratio: 1/1;
    stroke: #000000;
    stroke-width: 2.5px;
    fill: none;

    path {
      transition:
        stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s),
        stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
      stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
      stroke-dashoffset: var(--offset, 126px);
      transform: translateZ(0);

      &:nth-child(2) {
        --duration: 0.7s;
        --easing: ease-in;
        --offset: 100px;
        --array-2: 74px;
      }
      &:nth-child(3) {
        --offset: 133px;
        --array-2: 107px;
      }
    }

    &.active path {
      --offset: 57px;

      &:nth-child(1),
      &:nth-child(3) {
        --delay: 0.15s;
        --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
      }
      &:nth-child(2) {
        --duration: 0.4s;
        --offset: 2px;
        --array-1: 1px;
      }
      &:nth-child(3) {
        --offset: 58px;
      }
    }
  }
}

.menu {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: calc(var(--navbar-height) + min(12%, 3.5rem));
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  background-color: var(--elements);

  @media (min-width: 769px) {
    display: none;
  }

  a,
  button {
    padding: min(3vw, 14px) 15%;
    font-size: min(7vw, 125%);
    font-weight: 700;
    border-radius: var(--radius);
    background-color: transparent;
  }
}
