.bottom {
  z-index: 10;
  padding: 0 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--navbarHeight);
  display: none;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  user-select: none;
  background-color: #141414;
  box-shadow: 0 22px 24px 10px #ededed;

  button {
    padding: 15px 5px 10px;
    width: 5rem;
    height: 100%;
    flex-direction: column;
    gap: 2px;
    text-align: center;
    background-color: transparent;

    &:hover {
      background-color: #252525;
    }

    img {
      $size: 22px;
      width: $size;
      height: $size;
    }

    p {
      margin: max(1px, 0.3vw) 0 5px;
      font-size: max(10px, 1.5vw);
    }
  }

  @media (max-width: 768px) {
    display: flex;
  }

  @media (max-width: 425px) {
    gap: 0;
    padding: 0 3vw;
  }

  @media (max-width: 320px) {
    height: 17.5vw;
    padding: 0.5vw 2vw 0.5vw;

    button {
      padding: 2vw 0 1vw;
      width: 20%;
      height: 100%;
      gap: 0.6vw;

      img {
        width: 7.5vw;
        height: auto;
      }

      p {
        margin: 0.8vw;
        font-size: 3vw;
      }
    }
  }
}
