.top,
.bottom {
  z-index: 10;
  width: 100%;
  position: fixed;
  display: none; // hidden by default
  color: #ffffff;
  user-select: none;

  // tablet
  @media (max-width: 767px) {
    display: flex;
  }
}

.top {
  $height: 3rem;

  top: 0;
  height: $height;
  align-items: stretch;
  justify-content: space-between;
  background-color: #203259;

  $gap: 5px;
  padding: 0 $gap;

  div {
    display: flex;
    gap: $gap;
  }

  button {
    padding: 0;
    width: $height;
    height: $height;
    background-color: transparent;

    &:hover {
      background-color: #084169;
    }

    img {
      $size: 25px;
      width: $size;
      height: $size;
    }

    p {
      font-size: 11px;
    }
  }

  .back {
    transform: rotate(90deg);
    position: relative;
    right: 2px;
  }

  // small-mobile
  @media (max-width: 319px) {
    height: 15vw;
    $gap: 2vw;
    padding: 0 $gap;

    div {
      gap: $gap;
    }

    button {
      width: 15vw;
      height: 100%;

      img {
        width: 9vw;
        height: auto;
      }
    }
  }
}

.bottom {
  $height: 3.5rem;

  bottom: 0;
  height: $height;
  align-items: center;
  justify-content: center;
  background-color: #141414;

  gap: 3vw;
  padding: 0 1rem;

  button {
    padding: 15px 5px 10px;
    width: 5rem;
    height: $height;
    gap: 2px;
    text-align: center;
    background-color: transparent;

    &:hover {
      background-color: #252525;
    }

    img {
      $size: 22px;
      width: $size;
      height: $size;
    }

    p {
      margin: 2px 0 5px;
      font-size: 11px;
    }
  }

  // large-mobile
  @media (max-width: 424px) {
    gap: 0;
    padding: 0 3vw;
  }

  // small-mobile
  @media (max-width: 319px) {
    height: 17.5vw;
    padding: 0 2vw 0.5vw;

    button {
      padding: 2vw 0 1vw;
      width: 20%;
      height: 100%;
      gap: 0.6vw;

      img {
        width: 8vw;
        height: auto;
      }

      p {
        margin: 0.8vw;
        font-size: 3.5vw;
      }
    }
  }
}
