.component {
  z-index: 999;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

.presentation {
  padding: 1% 3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vw;
  color: var(--slide-text);
  background-color: var(--slide-background);
  text-align: center;

  &.first {
    justify-content: center;

    .title {
      position: relative;
      bottom: 2vw;
      gap: 1vw;

      h1 {
        opacity: 100%;
        font-size: 4.6em;
      }

      h2 {
        opacity: 80%;
        font-size: 2.5em;
      }
    }

    .verse {
      display: none;
    }
  }
}

.title {
  flex-direction: column;
  gap: 0.2vw;

  h1 {
    opacity: 80%;
    font-size: 2.4vw;
    font-weight: normal;
  }

  h2 {
    opacity: 60%;
    font-size: 1.4vw;
  }
}

.verse {
  margin-bottom: 6vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  white-space: normal;
}

.progressBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.2vh;
  background-color: var(--elements-hover);

  .fulfill {
    height: 100%;
    transition: 0.1s ease-in-out;
    background-color: var(--accent-color);
  }
}
