.component {
  z-index: 999; // always on top
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

.presentation {
  padding: 1% 3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vw;
  color: var(--slide-text);
  background-color: var(--slide-background);
  transition: 0.1s background-color ease-out;
  text-align: center;

  & > * {
    transition: 0.1s ease-out;
  }

  &.first {
    justify-content: center;

    .title {
      position: relative;
      bottom: 2vw;
      gap: 1.5vw;

      h1 {
        opacity: 100%;
        font-size: 5vw;
      }

      h2 {
        opacity: 65%;
        font-size: 3vw;
        font-weight: normal;
      }
    }

    .verse {
      display: none;
    }

    .progress {
      background-color: transparent;
    }
  }

  &.last {
    background-color: #000000;

    .title,
    .verse,
    .progress {
      opacity: 0;
    }

    .navigation button {
      border-color: #ffffff;

      img {
        filter: invert(1);
      }
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  transition: none;

  h1 {
    opacity: 65%;
    font-size: 2.4vw;
    font-weight: normal;
  }

  h2 {
    opacity: 50%;
    font-size: 1.35vw;
    font-weight: bold;
  }
}

.verse {
  margin-bottom: 6vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  white-space: normal;
}

.progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.2vh;
  background-color: var(--menu-background);

  .fulfill {
    height: 100%;
    transition: 0.1s ease-in-out;
    background-color: var(--accent-color);
  }
}

.navigation {
  opacity: 0%;
  position: absolute;
  bottom: -1.5vw;
  left: 1.5vw;
  display: flex;
  gap: 1vw;
  transition: 0.1s ease-out;

  &.show {
    opacity: 100%;
    bottom: 1.5vw;
  }

  button {
    opacity: 25%;
    padding: 1vw;
    border: 1px solid var(--slide-text);
    border-radius: 100%;
    background-color: transparent;
    transition: 0.1s opacity ease-out;

    &:hover {
      opacity: 45%;
    }

    img {
      position: relative;
      cursor: pointer;
    }

    &:nth-child(1) img {
      right: 0.1vw;
      rotate: 90deg;
    }
    &:nth-child(2) img {
      left: 0.1vw;
      rotate: -90deg;
    }
  }
}
