@mixin element-glow($border-radius: 8px) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-top: 0.5px solid rgba(#ffffff, 0.1);
    border-left: 0.5px solid rgba(#ffffff, 0.05);
    border-radius: calc($border-radius + 1px);
    background: linear-gradient(
      135deg,
      rgba(#ffffff, 0.008) 0%,
      rgba(#ffffff, 0.004) 50%,
      rgba(#ffffff, 0.001) 100%
    );
    box-shadow:
      inset 0 0.5px 0 rgba(#ffffff, 0.05),
      0 0.5px 3px rgba(#000000, 0.1);
    pointer-events: none;
    user-select: none;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin fade-in($duration: 150ms) {
  @keyframes fade-in {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (min-width: 769px) {
    animation: fade-in $duration ease-in-out forwards;
  }
}
