:root.accent_blue {
  --accent-color: #5496e7;
}

:root.accent_orange {
  --accent-color: #ee866d;
}

@mixin dark-theme {
  color-scheme: dark;
  --slide-background: #000000;
  --slide-text: #ffffff;

  .icon {
    filter: invert(1);
  }
}

@mixin light-theme {
  color-scheme: light;
  --slide-background: #ffffff;
  --slide-text: #000000;
}

[data-theme='black'] {
  --text: #edebe5;
  --background: #000000;
  --elements: #161514;
  --elements-hover: #1e1d1c;
  --menu-background: #171717;
  --menu-elements: #212121;
  --menu-elements-hover: #2a2929;
  @include dark-theme;
}

html[data-theme='gray'] {
  --text: #ffffff;
  --background: #2a2a2a;
  --elements: #303030;
  --elements-hover: #373635;
  --menu-background: #232323;
  --menu-elements: #383838;
  --menu-elements-hover: #464343;
  @include dark-theme;
}

html[data-theme='white'] {
  --text: #3d3d3f;
  --background: #f3f3f3;
  --elements: #ffffff;
  --elements-hover: #f8f8f8;
  --menu-background: #f8f8f8;
  --menu-elements: #dedede;
  --menu-elements-hover: #cecece;
  @include light-theme;
}

html[data-theme='reading'] {
  --text: #14120d;
  --background: #f6eede;
  --elements: #f9f3ea;
  --elements-hover: #efe7df;
  --menu-background: #efebe5;
  --menu-elements: #d2cac2;
  --menu-elements-hover: #dcd6cf;
  @include light-theme;
}
