/* import */
@import "colors.scss";

/* fonts */
@font-face {
  font-family: "Gill Sans MT";
  src: url("/fonts/Gill\ Sans\ MT.ttf") format("truetype");
  size-adjust: 110%;
}

@font-face {
  font-family: "Brutal Type Medium";
  src: url("/fonts/Brutal\ Type\ Medium.ttf") format("truetype");
  unicode-range: U+30-39;
  size-adjust: 106%;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Brutal Type Medium", "Gill Sans MT";
  color: #ededed;
  background-color: #000000;
  -webkit-tap-highlight-color: transparent;
}

main {
  padding-bottom: 25%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 200%;
}

h1,
b {
  font-weight: 600;
}

p {
  font-size: 80%;
  margin: 3px 6px;
}

img {
  max-width: none;
  max-block-size: none;
}

.icon {
  filter: invert(1);
}

button {
  cursor: pointer;
  border-radius: 0.4rem;
}

::placeholder {
  font-size: 1rem;
  opacity: 0.6;
  position: relative;
  bottom: 1px;
}

nav {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;

  color: #ffffff;
  background-color: #141414;

  button {
    padding: 12px 0 8px;
    width: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-align: center;
    transition: 0.2s background-color ease-in-out;

    img {
      width: 22px;
      height: 22px;
    }

    p {
      font-size: 11px;
    }
  }
}

// desktop-only
@media (min-width: 1024px) {
  nav button:hover {
    background-color: #252525;
  }
}

// laptop
@media (max-width: 1023px) {
  nav button:hover {
    background-color: #171717;
  }
  nav button:focus {
    background-color: #252525;
  }
}

// tablet
@media (max-width: 767px) {
}

// small-mobile
@media (max-width: 319px) {
  html,
  body {
    align-items: normal;
  }

  nav {
    height: 18vw;

    button {
      width: 25vw;
      gap: 0.8vw;

      img {
        width: 8vw;
      }

      p {
        margin: 0.8vw;
        font-size: 3.5vw;
      }
    }
  }
}

.onlyOnHymn {
  display: none;
}
