@import 'mixins';
@import 'themes';

:root {
  --header-height: 4rem;
  --navbar-height: calc(min(16vw, 3.5rem) + env(safe-area-inset-bottom));
  --mobileHeader-height: min(16vw, 3.5rem);
  --radius: 10px;
  --space: 2px;
}

* {
  transition: background-color 150ms ease-out;
}

*:focus-visible {
  box-sizing: border-box;
  border: 1px solid var(--text);
}

::selection {
  color: var(--elements);
  background: var(--accent-color);
}

@media (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--background);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--menu-elements);
    cursor: grab;

    &:hover {
      background-color: var(--menu-elements-hover);
    }
  }
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('/fonts/gill-sans-mt.woff2') format('woff2');
  size-adjust: 110%;
  font-display: swap;
}

@font-face {
  font-family: 'Brutal Type Medium';
  src: url('/fonts/brutal-type-medium.woff2') format('woff2');
  unicode-range: U+30-39; // only numbers
  size-adjust: 105%;
  font-display: swap;
}

@page {
  size: A4;
  margin: 2cm 1cm;
}

body {
  font-family: 'Brutal Type Medium', 'Gill Sans MT';
  color: var(--text);
  background-color: var(--background);
  -webkit-tap-highlight-color: transparent;

  @media print {
    width: 550px;
    color: #000000;
    background-color: #ffffff;
  }
}

body {
  overflow-y: scroll;
}

.icon {
  user-select: none;
}

header {
  height: var(--header-height);
  background-color: var(--elements);
  box-shadow: 0 -12px 12px 4px #000000;
  font-size: 11px;

  @media (max-width: 768px) {
    display: none;
  }

  @media print {
    display: none;
  }

  .container {
    margin: 0 auto;
    padding: 1rem 3%;
    height: 100%;
    max-width: calc(1440px + 3%);
    display: flex;
    justify-content: space-between;
  }

  .title {
    $save-space: 1rem;
    position: relative;
    right: $save-space;
    padding: 0 $save-space;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-radius: calc(var(--radius) / 2);

    &:hover {
      background-color: transparent;
    }

    h1 {
      opacity: 0.95;
      font-size: 21px;
    }
  }

  div {
    display: flex;
    align-items: center;
  }

  a,
  button {
    padding: 0.6rem 1.1rem;
    border-radius: calc(var(--radius) / 2);

    &:hover {
      background-color: var(--elements-hover);
    }

    p {
      font-size: 15px;
    }
  }
}

main {
  position: relative;
  margin: 0 auto;
  padding: 1.5rem 3% 4rem;
  min-height: calc(100svh - var(--header-height));
  max-width: calc(1440px + 3%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  @media (max-width: 768px) {
    padding: 0 0 calc(var(--navbar-height) + min(4rem, 10vw)) 0;
    min-height: 100svh;
  }

  @media (max-width: 425px) {
    gap: 4vw;
  }
}

h1 {
  font-size: 200%;
  font-weight: 600;
}

h2 {
  font-size: 125%;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--radius) / 2);
  background-color: var(--elements);
  cursor: pointer;

  &:hover {
    background-color: var(--elements-hover);
  }
}

.desktopOnly {
  display: flex;

  @media (max-width: 1024px) {
    display: none;
  }
}

.disabled {
  opacity: 0.3 !important;
  pointer-events: none !important;
  user-select: none !important;
  cursor: default !important;
}
