@import "./custom.scss";

// scrollbar
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $button-hover;
  border-radius: 0.75vw;
  &:hover {
    background: lighten($button-hover, 5%);
  }
}

// fonts
@font-face {
  font-family: "Gill Sans MT";
  src: url("/fonts/Gill\ Sans\ MT.ttf") format("truetype");
  size-adjust: 110%;
}

@font-face {
  font-family: "Brutal Type Medium";
  src: url("/fonts/Brutal\ Type\ Medium.ttf") format("truetype");
  unicode-range: U+30-39;
  size-adjust: 106%;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Brutal Type Medium", "Gill Sans MT";
  color: $text-color;
  background-color: $background;
  -webkit-tap-highlight-color: transparent;
}

main {
  padding-bottom: 4rem; // navigation component
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 115%;
}

h1,
b {
  font-weight: 600;
}

p {
  font-size: 80%;
  margin: 3px 6px;
}

img {
  max-width: none;
  max-block-size: none;
}

.icon {
  filter: invert(1);
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: $rounded;
  background-color: $button;
  transition: 0.2s background-color ease-in-out;
  cursor: pointer;
}

::placeholder {
  font-size: 1rem;
  opacity: 0.6;
  position: relative;
  bottom: 1px;
}

// desktop-only
@media (min-width: 1024px) {
  button:hover {
    background-color: $button-hover;
  }
}

// laptop
@media (max-width: 1023px) {
  button:hover {
    background-color: $button;
  }
  button:focus {
    background-color: $button-hover;
  }
}

// tablet
@media (max-width: 767px) {
  main {
    padding-bottom: 5rem; // navigation component
  }
}

// small-mobile
@media (max-width: 319px) {
  html,
  body {
    align-items: normal;
  }

  main {
    padding-bottom: 30vw; // navigation component
  }
}

.onlyOnHymn {
  display: none;
}
