// scrollbar
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--button-hover);
  border-radius: 0.75vw;
  &:hover {
    background: lighten(#202020, 6%);
  }
}

// fonts
@font-face {
  font-family: "Gill Sans MT";
  src: url("/fonts/Gill_Sans_MT.woff2") format("woff2");
  size-adjust: 110%;
  font-display: swap;
}

@font-face {
  font-family: "Brutal Type Medium";
  src: url("/fonts/Brutal_Type_Medium.woff2") format("woff2");
  unicode-range: U+30-39;
  size-adjust: 106%;
  font-display: swap;
}

html {
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Brutal Type Medium", "Gill Sans MT";
  color: var(--text-color);
  background-color: var(--background);
  -webkit-tap-highlight-color: transparent;
}

main {
  padding-bottom: 4rem; // navigation component
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 1rem 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: var(--button);

  div {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      opacity: 0.7;

      &:hover {
        opacity: 0.85;
        text-decoration: underline;
      }
    }
  }
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 115%;
}

h1,
b {
  font-weight: 600;
}

p {
  font-size: 80%;
  margin: 3px 6px;
}

img {
  max-width: none;
  width: 100%;
  height: 100%;
  max-block-size: none;
}

.icon {
  filter: invert(1);
  user-select: none;
}

.text-highlight {
  color: #31d6ff;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded);
  background-color: var(--button);
  transition: 0.2s background-color ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover);
  }
}

::placeholder {
  font-size: 1rem;
  opacity: 0.6;
  position: relative;
  bottom: 1px;
}

// laptop
@media (max-width: 1023px) {
  footer {
    margin-top: 1rem;
    padding: 1rem 3%;
    font-size: 0.85rem;
  }
}

// tablet
@media (max-width: 767px) {
  main {
    padding-bottom: 5rem; // navigation component
  }
  footer {
    display: none;
  }
}

// small-mobile
@media (max-width: 319px) {
  html,
  body {
    align-items: normal;
  }

  main {
    padding-bottom: 30vw; // navigation component
  }
}

.onlyOnHymn {
  display: none;
}
