.title {
  margin: 2.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;

  // infoButton on mobile
  button {
    padding: 10px;
    position: absolute;
    right: 1.6rem;
    display: none;
    background-color: transparent;

    img {
      width: 1.6rem;
    }
  }
}

.content {
  margin: 1.6rem 1% 0;
  display: flex;
  justify-content: center;
  gap: 1rem;

  hr {
    width: 1px;
    opacity: 0.65;
    background-color: #ededed;
    border-radius: 100%;
  }
}

.hymnBooks {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 0.6rem;
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    margin: 0.5rem;
    padding: 5px;
    width: 22%;
    max-width: 12rem;
    aspect-ratio: 9/13;
    text-align: center;
    gap: 5%;

    h3 {
      font-size: 0.9rem;
    }

    img {
      width: 73%;
    }
  }
}

.otherHymns {
  margin-top: 0.3rem;
  padding: 1rem;
  max-width: 48rem;
  text-align: center;
  background-color: #171717;
}

.optionsMenu {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0 0 0.6rem 0.5rem;
  }

  button {
    margin: 0.5rem;
    padding: 0.8rem 1rem;
    width: 14rem;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 0.4rem;
    gap: 1rem;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

// laptop
@media (max-width: 1023px) {
  .title {
    font-size: 1.2rem;
  }

  .content {
    margin-top: 3%;
  }

  .hymnBooks {
    width: 65%;
  }

  .grid button {
    margin: 1%;
    width: min(48%, 16.5rem);
    max-width: none;

    aspect-ratio: 9/12;

    h3 {
      font-size: min(2vw, 1.1rem);
    }
  }

  .otherHymns {
    padding: 2% 0;
    width: 75%;
    font-size: 1.7vw;
  }
}

// tablet
@media (max-width: 767px) {
  .title {
    margin: 2.2rem 0 2rem;
    font-size: 1.1rem;

    button {
      display: flex;

      &:focus {
        background-color: #252525;
      }
    }
  }

  .content {
    margin-top: 1.5%;

    hr {
      display: none;
    }
  }

  .hymnBooks {
    width: 100%;

    h2 {
      display: none;
    }
  }

  .grid button {
    width: 48%;
    max-width: 16rem;

    h3 {
      font-size: min(3.2vw, 18px);
    }
  }

  .otherHymns {
    padding: 6% 0;
    width: 98%;
    font-size: 3.6vw;
  }

  .optionsMenu {
    display: none;
  }
}

// small-mobile
@media (max-width: 319px) {
  .title {
    margin: 10vw 0 8vw;
    position: relative;
    left: 3vw;
    font-size: 5.5vw;
    flex-direction: row;
    gap: 3vw;

    button {
      padding: 2vw;
      position: relative;
      top: 0.8vw;
      right: 0;

      img {
        width: 6vw;
      }
    }
  }

  .content {
    margin-top: 3%;
  }

  .grid button {
    width: 96%;
    max-width: none;
    aspect-ratio: 9/10;

    img {
      width: 60%;
    }

    h3 {
      font-size: 5.5vw;
    }
  }

  .otherHymns {
    padding: 8% 0;
    width: 96%;
    font-size: 5.6vw;
  }
}
