@import "./custom.scss";

.title {
  margin: 2.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;

  // infoButton on mobile
  button {
    padding: 10px;
    position: absolute;
    right: 1.6rem;
    display: none;
    background-color: transparent;

    img {
      width: 1.6rem;
    }
  }
}

.content {
  margin: 2.5rem 1% 0;
  display: flex;
  justify-content: center;
  gap: 1rem;

  hr {
    margin-left: -0.5rem;
    width: 1px;
    opacity: 0.65;
    background-color: $text-color;
    border-radius: 100%;
  }
}

.hymnBooks {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 0.6rem;
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    margin: 0.5rem;
    padding: 5px;
    width: 22%;
    max-width: 12rem;
    aspect-ratio: 9/13;
    text-align: center;
    gap: 5%;

    h3 {
      font-size: 0.9rem;
    }

    img {
      width: 73%;
    }
  }
}

.otherHymns {
  margin-top: 0.3rem;
  padding: 1rem;
  width: 80%;
  text-align: center;
  background-color: $button;
}

.optionsMenu {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0 0 0.8rem 0.5rem;
    font-size: 100%;
  }

  button {
    margin: 0.35rem;
    padding: 0.8rem 1rem;
    width: min(14rem, 20vw);
    flex-direction: row;
    justify-content: flex-start;
    border-radius: $rounded;
    gap: 8px;
    font-size: 90%;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

// laptop
@media (max-width: 1023px) {
  .title {
    font-size: 1.2rem;
  }

  .content {
    margin-top: 3%;

    hr {
      margin-left: 0;
    }
  }

  .hymnBooks {
    width: 65%;
  }

  .grid button {
    margin: 1%;
    width: min(48%, 16.5rem);
    max-width: none;

    aspect-ratio: 9/12;

    h3 {
      font-size: min(2vw, 1.1rem);
    }
  }

  .otherHymns {
    padding: 3% 0;
    width: 78%;
    font-size: 1.9vw;
  }

  .optionsMenu {
    h2 {
      margin-bottom: 0.6rem;
      font-size: 105%;
    }
    button {
      width: 14rem;
      margin: 0.45rem;
      gap: 12px;
      font-size: 100%;
    }
  }
}

// tablet
@media (max-width: 767px) {
  .title {
    margin: 2.2rem 0 2rem;
    font-size: 1.1rem;

    button {
      display: flex;

      &:focus {
        background-color: $button-hover;
      }
    }
  }

  .content {
    margin-top: 1.5%;

    hr {
      display: none;
    }
  }

  .hymnBooks {
    width: 100%;

    h2 {
      display: none;
    }
  }

  .grid button {
    width: 48%;
    max-width: 16rem;

    h3 {
      font-size: min(3.2vw, 18px);
    }
  }

  .otherHymns {
    padding: min(5%, 1.5rem);
    width: min(98%, 33rem);
    font-size: 3.6vw;

    h3 {
      font-size: min(3.5vw, 20px);
    }
  }

  .optionsMenu {
    display: none;
  }
}

// small-mobile
@media (max-width: 319px) {
  .title {
    margin: 10vw 0 8vw;
    position: relative;
    left: 3vw;
    font-size: 5.5vw;
    flex-direction: row;
    gap: 3vw;

    button {
      padding: 2vw;
      position: relative;
      top: 0.8vw;
      right: 0;

      img {
        width: 6vw;
      }
    }
  }

  .content {
    margin-top: 3%;
  }

  .grid button {
    width: 96%;
    max-width: none;
    aspect-ratio: 9/10;

    img {
      width: 60%;
    }

    h3 {
      font-size: 5.5vw;
    }
  }

  .otherHymns {
    padding: 8% 0;
    width: 96%;
    font-size: 5.6vw;
  }
}
