:root.accent_blue {
  color-scheme: dark;
  --accent-color: #5496e7;
}

:root.accent_orange {
  color-scheme: light;
  --accent-color: #ee866d;
}

:root.black,
:root.dark {
  color-scheme: dark;
  --slide-background: #000000;
  --slide-text: #ffffff;

  .icon {
    filter: invert(1);
  }
}

:root.black {
  --text: #edebe5;

  --background: #000000;
  --elements: #161514;
  --elements-hover: #1e1d1c;

  --menu-background: #171717;
  --menu-elements: #212121;
  --menu-elements-hover: #2a2929;
}

:root.dark {
  --text: #ffffff;

  --background: #262525;
  --elements: #303030;
  --elements-hover: #373635;

  --menu-background: #232323;
  --menu-elements: #383838;
  --menu-elements-hover: #464343;
}

:root.light,
:root.reading {
  color-scheme: light;
  --slide-background: #ffffff;
  --slide-text: #000000;
}

:root.light {
  --text: #3d3d3f;

  --background: #f3f3f3;
  --elements: #ffffff;
  --elements-hover: #f8f8f8;

  --menu-background: #f8f8f8;
  --menu-elements: #e4e4e4;
  --menu-elements-hover: #efefef;
}

:root.reading {
  --text: #14120d;

  --background: #ede9e0;
  --elements: #f9f3ea;
  --elements-hover: #efe7df;

  --menu-background: #efebe5;
  --menu-elements: #e6e0d9;
  --menu-elements-hover: #d3cbc2;
}
