:root {
  color-scheme: light only;
  --accent-color: #5496e7;
  // --accent-color: #ee866d;
}

:root.black,
:root.dark {
  color-scheme: dark only;

  .icon {
    filter: invert(1);
  }
}

:root.light {
  --text: #3d3d3f;
  --background: #f3f3f3;

  --elements: #ffffff;
  --elements-hover: #f8f8f8;

  --menu-background: #f8f8f8;
  --menu-elements: #e4e4e4;
}

:root.reading {
  --text: #14120d;
  --background: #f6efe2;

  --elements: #f9f5ee;
  --elements-hover: #efebe5;

  --menu-background: #efebe5;
  --menu-elements: #e6e2dc;
}

:root.black {
  --text: #edebe5;
  --background: #000000;

  --elements: #161514;
  --elements-hover: #1e1d1c;

  --menu-background: #171717;
  --menu-elements: #212121;
}

:root.dark {
  --text: #ffffff;
  --background: #202020;

  --elements: #303030;
  --elements-hover: #373635;

  --menu-background: #232323;
  --menu-elements: #383838;
}
